/* Styles */
body {
	position: relative;
}

.navbar-default {
	/* color: #FFF; */
	/* background-color: #3777BC; */
	/* background-color: #22A5D3; */
	/* background-color: #4d4d4d; */
    /* color: #999999; */
    padding: 0;
    min-height: 5px;
    width: 100%;
	font-family: "Noto Sans", Arial, Verdana;
	/*font-size: 0.925em;*/
	font-weight: 600; /* 7/8/15 */
	background-color: rgba(74,169,126,.5); /* 7/8/15 */
	transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: initial;
	-webkit-transition-delay: initial;
	-moz-transition: background-color .3s;
	-ms-transition: background-color .3s;
}

.navbar {
	border-radius: 0;
	border: 0;
}

header .navbar-fixed {
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default
.navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #FFFFFF;
  /* background-color: #4d4d4d; */
  min-height: 60px;
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}

/** Carousel Fade **/

.carousel.fade {
	opacity: 1;
}

.carousel.fade .item {
	transition: opacity ease-out 0.7s;
	left: 0;
	opacity: 0;
	top: 0;
	position: absolute;
	width: 100%;
	display: block;
}

.carousel.fade .item:first-child {
	top: auto;
	opacity: 1;
	position: relative;
}

.carousel.fade .item.active {
	opacity: 1;
}

.carousel-control {
	opacity: 0;
}

.carousel-control.left,
.carousel-control.right {
	/*background-image: none;*/
}

#gallery .item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

.intro {
	/* font-family: "Lora", Serif; */
	font-size: 36px;
	/* font-weight: 400; */
	color: #FFF;
  /* font-size: 2.22222222rem; */
  -webkit-font-family: "Raleway";
  -webkit-font-weight: 100;
  line-height: 1;
	text-align: center;
	margin-top: 305px;
	margin-bottom: 300px;
}

.carousel-slide {
	opacity: 0.85;
}

.page {
	background: url(../images/Circuit_Board1.jpg) no-repeat center center;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 0.85;
	background-color: transparent;
}